In [3]:
# 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요 
# (단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)

# - 데이터셋 : ../input/covid-vaccination-vs-death/covid-vaccination-vs-death_ratio.csv
# - 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
# - File -> Editor Type -> Script


import pandas as pd

df = pd.read_csv("../input/covid-vaccination-vs-death/covid-vaccination-vs-death_ratio.csv")
df.head()

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40374668.0,1.179866
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40374668.0,1.187309
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40374668.0,1.187809

In [5]:
df1 = df.groupby('country').max() #시간에 따라 접종률이 점점 올라감
df1.head()

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
Afghanistan,35,AFG,2022-03-22,5751015.0,5082824.0,4420127.0,86,40374668.0,12.589141
Albania,219,ALB,2022-03-24,2754244.0,1278902.0,1215199.0,18,2869700.0,44.565704
Algeria,239,DZA,2022-03-09,13704895.0,7461932.0,6110712.0,34,45061896.0,16.559294
Andorra,270,AND,2022-03-13,151997.0,57817.0,53367.0,2,77355.0,74.742421
Angola,323,AGO,2022-03-25,17535411.0,11235059.0,5993792.0,18,34566172.0,32.503047

In [6]:
df1.sort_values('ratio', 
                ascending=False)

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
Gibraltar,11368,GIB,2022-03-24,116358.0,42034.0,41228.0,3,33698.0,124.737373
Malta,19948,MLT,2022-03-28,1255851.0,473639.0,466296.0,7,443646.0,106.760570
Niue,22376,NIU,2022-03-13,4161.0,1650.0,1417.0,0,1619.0,101.914762
United Arab Emirates,30916,ARE,2022-03-29,24463702.0,9890318.0,9603499.0,15,10051436.0,98.397065
Portugal,24636,PRT,2022-03-10,22923599.0,9663542.0,9415073.0,297,10150252.0,95.204947
...,...,...,...,...,...,...,...,...,...
Papua New Guinea,23300,PNG,2022-03-28,574716.0,317150.0,257566.0,43,9220306.0,3.439691
Yemen,32488,YEM,2022-03-16,807502.0,643501.0,404781.0,10,30882462.0,2.083710
Chad,5884,TCD,2022-03-18,419469.0,282003.0,153238.0,0,17203787.0,1.639191
Haiti,12640,HTI,2022-03-23,249801.0,163710.0,112335.0,7,11623799.0,1.408404
Burundi,4798,BDI,2022-03-18,12166.0,10372.0,9906.0,0,12469663.0,0.083178

In [19]:
#100%가 넘는 접종률 제거
cond = df1['ratio'] <= 100
df1 = df1[cond]
df2 = df1.sort_values('ratio', ascending=False)
df2.head()

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
United Arab Emirates,30916,ARE,2022-03-29,24463702.0,9890318.0,9603499.0,15,10051436.0,98.397065
Portugal,24636,PRT,2022-03-10,22923599.0,9663542.0,9415073.0,297,10150252.0,95.204947
Cuba,7263,CUB,2022-03-27,35342367.0,10630665.0,9910237.0,98,11312548.0,93.972331
Chile,6318,CHL,2022-03-22,50302179.0,17859475.0,17346012.0,11447,19275294.0,92.654748
Brunei Darussalam,4562,BRN,2022-03-18,1068468.0,407945.0,404935.0,5,443903.0,91.899582

In [22]:
df1

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
Afghanistan,35,AFG,2022-03-22,5751015.0,5082824.0,4420127.0,86,40374668.0,12.589141
Albania,219,ALB,2022-03-24,2754244.0,1278902.0,1215199.0,18,2869700.0,44.565704
Algeria,239,DZA,2022-03-09,13704895.0,7461932.0,6110712.0,34,45061896.0,16.559294
Andorra,270,AND,2022-03-13,151997.0,57817.0,53367.0,2,77355.0,74.742421
Angola,323,AGO,2022-03-25,17535411.0,11235059.0,5993792.0,18,34566172.0,32.503047
...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,32473,WLF,2022-03-21,12940.0,6483.0,6457.0,2,11094.0,58.436993
Yemen,32488,YEM,2022-03-16,807502.0,643501.0,404781.0,10,30882462.0,2.083710
Zambia,32559,ZMB,2022-02-27,2822009.0,2487149.0,1862614.0,72,19238117.0,12.928235
Zimbabwe,32910,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,107,15229891.0,33.178924
"occupied Palestinian territory, including east Jerusalem",23198,PSE,2022-03-24,3694897.0,1995873.0,1756319.0,34,5293440.0,37.704650

In [23]:
top = df1['ratio'].head(10).mean()
bottom = df1['ratio'].tail(10).mean()
print(top)
print(bottom)
print(round(top - bottom,1))
# 결과값은 데이터 업데이트에 따라 달라질 수 있음

52.39513892763351
47.764566695278646
4.6