## 나이 구간 나누기
###  basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
### (이상치는 음수(0포함), 소수점 값)
- data: basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')

In [3]:
# age 이상치 (음수(0포함), 소수점 제거)
print(df.shape)
df = df[~(df['age'] <= 0)] # 0 이하 제거
print(df.shape)
df = df[(df['age']== round(df['age'], 0))] # 소수점 제거
print(df.shape)

(100, 8)
(96, 8)
(90, 8)

In [4]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [5]:
# 기준 확인
df_3 = pd.qcut(df['age'], q=3)
df_3

0      (0.999, 38.667]
1      (0.999, 38.667]
2      (0.999, 38.667]
3      (73.333, 100.0]
4      (0.999, 38.667]
            ...
95     (73.333, 100.0]
96     (73.333, 100.0]
97    (38.667, 73.333]
98     (0.999, 38.667]
99    (38.667, 73.333]
Name: age, Length: 90, dtype: category
Categories (3, interval[float64, right]): [(0.999, 38.667] < (38.667, 73.333] < (73.333, 100.0]]

In [6]:
# 구간 분할
df['range'] = pd.qcut(df['age'], q=3, labels = ['group1', 'group2', 'group3'])
df.head(2)

     id  age city    f1  f2   f3    f4         f5   range
0  id01  2.0   서울   NaN   0  NaN  ENFJ  91.297791  group1
1  id02  9.0   서울  70.0   1  NaN  ENFJ  60.339826  group1

In [7]:
# 수량 비교
df.range.value_counts()

group1    30
group2    30
group3    30
Name: range, dtype: int64

In [8]:
# 중간이상 - 중간이하 
med1 = df[df['range'] == 'group1']['age'].median()
med2 = df[df['range'] == 'group2']['age'].median()
med3 = df[df['range'] == 'group3']['age'].median()
med1 + med2 + med3

165.0