## 모의고사
- 이진 분류
- 이직할 사람을 찾는 문제(확률)

### 평가
- 확률값 예측
- roc-auc

### target
- 0: 이직할 마음 없음
- 1: 이직할 회사 찾음

### 참고영상
- https://www.youtube.com/watch?v=QWEqMQIwH5A

In [86]:
################## 시험 안내 문구 및 코드 ##################
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("../input/hr-data/X_test.csv")
X_train = pd.read_csv("../input/hr-data/X_train.csv")
y_train = pd.read_csv("../input/hr-data/y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'enrollee_id': X_test.enrollee_id, 'target': pred}).to_csv('003000000.csv', index=False)

In [87]:
X_train.head(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47

In [88]:
X_test.head(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98

In [89]:
y_train.head(2)

   enrollee_id  target
0         8949       1
1        29725       0

In [90]:
y_train.target.value_counts()

0    14381
1     4777
Name: target, dtype: int64

In [91]:
X_train.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
dtype: int64

In [92]:
X_train = X_train.drop('enrollee_id', axis=1)
id = X_test.pop('enrollee_id')

In [93]:
X_train = X_train.fillna("X")
X_test = X_test.fillna("X")

In [94]:
X_train.shape, X_test.shape

((19158, 12), (2126, 12))

In [95]:
del_col = ['experience', 'last_new_job', 'company_size']
X_train = X_train.drop(columns = del_col)
X_test = X_test.drop(columns = del_col)

In [97]:
from sklearn.preprocessing import RobustScaler, LabelEncoder
rb = RobustScaler()
cols = X_train.select_dtypes(exclude='object').columns
X_train[cols] = rb.fit_transform(X_train[cols])
X_test[cols] = rb.transform(X_test[cols])

cols = X_train.select_dtypes(include='object').columns
for col in cols:
    le = LabelEncoder()
    X_train[col] = le.fit_transform(X_train[col])
    X_test[col] = le.transform(X_test[col])
# X_train[cols] = pd.get_dummies(X_train[cols])
# X_test[cols] = pd.get_dummies(X_test[cols])

In [98]:
y = y_train['target'].copy()

In [99]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y, test_size=0.2, random_state=11)

In [109]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 12, max_depth=7, random_state=11)
rf.fit(X_tr, y_tr)
pred = rf.predict(X_val)
pred_proba = rf.predict_proba(X_val)

In [110]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_val, pred)

0.6910513823662846

In [112]:
pred = rf.predict(X_test)
submit = pd.DataFrame({'enrollee_id': id, 'target': pred}).to_csv('003000000.csv', index=False)

## 체점

In [113]:
# 체점(아래 주석 풀로 체점)
import pickle
import numpy as np
from sklearn.metrics import roc_auc_score

with open( "../input/hr-data/answer.pickle", "rb" ) as file:
    ans = pickle.load(file)
    ans = pd.DataFrame(ans)
print(roc_auc_score(ans['target'], pred))

0.6822871863799282