In [1]:
import warnings
warnings.filterwarnings('ignore')

### APPLY, MAP
- 데이터 불러오기

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv")
df.shape

(10127, 19)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                10127 non-null  int64
 1   CLIENTNUM                 10127 non-null  int64
 2   Attrition_Flag            10127 non-null  object
 3   Customer_Age              10127 non-null  int64
 4   Gender                    10127 non-null  object
 5   Dependent_count           10127 non-null  int64
 6   Education_Level           10127 non-null  object
 7   Marital_Status            10127 non-null  object
 8   Income_Category           10127 non-null  object
 9   Card_Category             10127 non-null  object
 10  Months_on_book            10127 non-null  int64
 11  Total_Relationship_Count  10127 non-null  int64
 12  Months_Inactive_12_mon    10127 non-null  int64
 13  Contacts_Count_12_mon     10127 non-null  int64
 14  Credit_Limit              10127 non-null  float64
 15  Total_Revolving_Bal       10127 non-null  int64
 16  Avg_Open_To_Buy           10127 non-null  float64
 17  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 18  Total_Trans_Amt           10127 non-null  int64
dtypes: float64(3), int64(10), object(6)
memory usage: 1.5+ MB

- Income_Category의 카테고리를 map함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하기
    - Unknown : N
    - Less than $40K : a
    - $40K~$60K : b
    - $60K~$80K : c
    - $80K~$120K : d
    - $120K+ : e

In [4]:
dic = {
    'Unknown' : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K' : 'b',
    '$60K - $80K' : 'c',
    '$80K - $120K' : 'd',
    '$120K +' : 'e'
}
df['newIncome'] = df.Income_Category.map(lambda x: dic[x])
df['newIncome'].head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

- 위의 것을 apply 함수를 이용하여 해보기

In [5]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':
        return 'b'
    elif x =='$60K - $80K':
        return 'c'
    elif x =='$80K - $120K':
        return 'd'
    elif x =='$120K +' :
        return 'e'

df['newIncome'] = df.Income_Category.apply(changeCategory)
df['newIncome'].head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

- Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하기(0-9 : 0, 10-19 : 10 등) & 각 구간의 빈도수 출력

In [6]:
df['AgeState'] = df['Customer_Age'].map(lambda x : x//10 * 10)
df['AgeState'].value_counts().sort_index()

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

- Ecucation_Level의 값 중 Graduate 단어가 포함되는 값은 1, 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수 출력하기

In [7]:
df['newEduLevel'] = df['Education_Level'].map(lambda x : 1 if 'Graduate' in x else 0)
df['newEduLevel'].value_counts()

0    6483
1    3644
Name: newEduLevel, dtype: int64

- Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 컬럼을 정의하고 각 빈도수 출력하기

In [9]:
df['newLimit'] = df['Credit_Limit'].map(lambda x : 1 if x >= 4500 else 0)
df['newLimit'].value_counts()

1    5096
0    5031
Name: newLimit, dtype: int64

- Marital_Status 컬럼값이 Married이고 Card_Category 컬럼값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState 컬럼을 정의하고 각 값의 빈도수 출력하기

In [14]:
def Change(x):
    if x['Marital_Status'] == 'Married' and x['Card_Category'] == 'Platinum':
        return 1
    else:
        return 0

df['newState'] =df.apply(Change, axis=1)
df['newState'].value_counts()

0    10120
1        7
Name: newState, dtype: int64

- Gender 컬럼값 M인 경우 male, F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하고, 각 값에 대한 빈도수 구하기

In [20]:
def GenderName(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
df['Gender'] = df.Gender.apply(GenderName)
df['Gender'].value_counts()

female    5358
male      4769
Name: Gender, dtype: int64