## Getting started

In [1]:
import pandas as pd

## Creating data
- Pandas에는 DataFrame과 Series가 있다.

### DataFrame
* DataFrame은 table이다.
* row, column 그리고 value가 있다.
* table의 entry(각 항목)은 꼭 숫자일 필요는 없다. string도 가능!
* DataFrame의 object 선언은 pd.DataFrame()이다.

In [2]:
pd.DataFrame({'Yes' : [50, 21], 'No' : [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue' : ['Pretty good.', 'Bland']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.         Bland

* row label은 index라고 한다.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
             'Sue' : ['Pretty good.', 'Bland']},
            index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.         Bland

### Series
* DataFrame이 table이라면, Series는 list이다.
* a single column of a DataFrame

In [5]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [7]:
# name은 하나밖에 없는 column이다.
pd.Series([30, 35, 40], index=['2020 sales', '2021 sales', '2022 sales'], name='Product A')

2020 sales    30
2021 sales    35
2022 sales    40
Name: Product A, dtype: int64

## Reading data files
* csv 파일을 DataFrame으로 읽어온다.

In [9]:
import os
os.getcwd()

'C:\\Users\\user\\Desktop\\TIL\\Python\\Learn with Kaggle\\Pandas'

In [16]:
wine_reviews = pd.read_csv("../../prt1.csv")
print(wine_reviews)
print(wine_reviews.shape)
print(wine_reviews.head(1))

   Product A  Product B  Product C,
0         30         21           9
1         35         34           1
2         41         11          11
(3, 3)
   Product A  Product B  Product C,
0         30         21           9

In [17]:
type(wine_reviews)

pandas.core.frame.DataFrame

In [18]:
Wine_Reviews = pd.read_csv("../../prt1.csv", index_col = 0)
Wine_Reviews

           Product B  Product C,
Product A
30                21           9
35                34           1
41                11          11

###
END
###